In [1]:
import openpyxl
import csv
import pandas as pd

# Open the Excel workbook and select the active sheet
excel = openpyxl.load_workbook("Edited_MasterDataList.xlsx")
sheet = excel.active

# Write the data to a CSV file
with open("data.csv", 'w', newline="") as csvfile:
    col = csv.writer(csvfile)
    for r in sheet.rows:
        col.writerow([cell.value for cell in r])

# Read the CSV file into a pandas DataFrame and drop columns with Unnamed header or empty values
df = pd.read_csv("data.csv").dropna(axis=1, how='all')

# if the values are NaN, turn them into 
df = df.fillna(0)
df = df[(df != 0).any(axis=1)]

# Write the cleaned DataFrame back to a CSV file
df.to_csv("cleaned_data.csv", index=False)

print("Cleaned data has been written to cleaned_data.csv")

Cleaned data has been written to cleaned_data.csv

In [2]:
df

,PK-12 COLLABORATIVE Registration / Attendance Data 2018-Present,2023 SPED SA,2023 SPED SA .1,2023 SC SA,2023 SC SA .1,2023 ELL SA Admin,2023 ELL SA Admin .1,2023 ELL SA Teachr,2023 ELL SA Teachr .1,2023 ELL May,...,2019 ELL SA,2019 ELL SA .1,2019 ELL May,2019 ELL May .1,2019 ELL Jan,2019 ELL Jan .1,2018 ELL Dec,2018 ELL Dec .1,2018 ELL Oct,2018 ELL Oct .1
0,0,Onsite,Virtual,Onsite,Virtual,Onsite,Virtual,Onsite,Virtual,Onsite,...,Onsite,Virtual,Onsite,Virtual,Onsite,Virtual,Onsite,Virtual,Onsite,Virtual
1,Achievement,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Alamo City,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Alcoa City,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Alvin C York,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,Anacortes,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
327,NWESD 189,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
328,Ridgefield,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
329,Altoona,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
330,Milwaukee,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
column_names = ["EventName", "EventType", "EventYear", "OrgName", "OnSite", "OffSite"]
data = {"EventName": None,
        "EventType": None,
        "EventYear": None,
        "OrgName": None,
        "OnSite": None,
        "OffSite": None
       }
new_df = pd.DataFrame(data, columns=column_names)

original_columns = df.columns

for index, row in df.iloc[1:].iterrows():
    for i in range(1, len(original_columns), 2):
        broken = original_columns[i].split()
        event_type = broken[1]
        event_year = broken[0]
        new_row = {
            "EventName": original_columns[i],
            "EventType": event_type,
            "EventYear": event_year,
            "OrgName": row["PK-12 COLLABORATIVE Registration / Attendance Data 2018-Present"],
            "OnSite": row[original_columns[i]],
            "OffSite": row[original_columns[i] + ".1"]
        }
        new_df.loc[len(new_df.index)] = new_row 
        
new_df = new_df.drop(0, axis=0)

In [6]:
new_df.to_csv("Event_Data.csv", index=False)
new_df

                EventName EventType EventYear      OrgName OnSite OffSite
1             2023 SC SA         SC      2023  Achievement      0       0
2      2023 ELL SA Admin        ELL      2023  Achievement      0       0
3     2023 ELL SA Teachr        ELL      2023  Achievement      0       0
4           2023 ELL May        ELL      2023  Achievement      0       0
5            2023 SC Feb         SC      2023  Achievement      0       0
...                   ...       ...       ...          ...    ...     ...
9235         2019 ELL SA        ELL      2019    Milwaukee      0       0
9236        2019 ELL May        ELL      2019    Milwaukee      0       0
9237        2019 ELL Jan        ELL      2019    Milwaukee      0       0
9238        2018 ELL Dec        ELL      2018    Milwaukee      0       0
9239        2018 ELL Oct        ELL      2018    Milwaukee      0       0

[9239 rows x 6 columns]